body {
    background: #f2f2f2;
    text-align: center;
}

.box {
    background: linear-gradient(#000046, #1cb5e0);

    color: white;
    padding: 6rem 1rem;
    margin: 4rem;
    font-size: 100px;
}